body {
  min-height: 100vh;
}

.main-content {
  min-height: 100vh;

  app-root {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      main {
          flex-grow: 1;
      }
  }
}
