<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">iLibrary</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="currentUser.userRole === 'Admin'">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin pages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/library/all-books" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Library</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/library/all-authors" routerLinkActive="active">Authors</a>
        </li>
    </ul>
  </div>

  <div class="d-flex">
    <div class="mr-2">{{currentUser.firstName}}</div>
    <a [routerLink]="['/login']">Logout</a>
  </div>
</nav>
